node_modules/
local/*
local/*/*
local/local_run.sh
example/*.ttl
example/*.json
example/*.jsonld
example/credentials.html
example/security.html
example/test.html
previews/di/vocabulary.yml
previews/di/vocabulary.drawio
previews/di/template.html
previews/vcdm/vocabulary.yml
previews/vcdm/vocabulary.drawio
previews/vcdm/template.html
publish
npm_publish
package-lock.json
.vscode/
notes.md
.Attic/
.gitignore



